<!DOCTYPE html >
 <html  lang =" en "> 
    <head> 
        <meta  charset =" UTF-8 "> 
        <meta  name =" viewport " content =" width=device-width, initial-scale=1.0 "> 
        <meta  http-equiv =" Compatible X-UA " content =" ie=edge "> 
        <title>Bonjour</title> 
    </head> 
    <body> 
        <h1>Hello {{name}}</h1> 
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam enim laboriosam tempora deleniti blanditiis ea sint velit sequi soluta. Iure totam dolorum enim saepe placeat illum quis perspiciatis empêche. </p> 
    </body> 
</html>